body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  margin: 0;
}

p {
  color: #b3b3b3;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto", sans-serif;
}

a {
  transition: .3s all ease;
}
a:hover {
  text-decoration: none !important;
}

.content {
  padding: 7rem 0;
}

.half,
.half .container > .row {
  height: 100vh;
  min-height: 800px;
  display: flex;
  flex-wrap: wrap;
}

.half .contents {
  width: 35%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 3rem;
}

.half .bg {
  width: 65%;
  background-size: cover;
  background-position: center;
  background-image: url('images/portal.png');
}

.half .form-control {
  border: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  height: 54px;
  background: #fff;
}
.half .form-control:focus {
  outline: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.half .btn {
  height: 54px;
  padding: 0 30px;
}

.half .forgot-pass {
  position: relative;
  top: 2px;
  font-size: 14px;
}

.logo-container {

  justify-content: center;
  align-items: center;
  flex-direction: column;

}

/* RESPONSIVE */
@media (max-width: 991.98px) {
  .half .contents {
    width: 100%;
    padding: 2rem 1rem;
    text-align: center;
    align-items: center;
  }

  .half .bg {
    display: none !important;
  }

  .logo-container {
    padding-top: 20px;
    margin-bottom: 25px;
    
  }

  .logo-sisede {
    max-width: 200px;
  }

  .half .btn {
    width: 100%;
    font-size: 16px;
  }
}

